@import '../fonts/stylesheet';
@import 'foundationApp';
//-------------------------------------------------------------------------------------------
// EMpezamos!!!!
//-------------------------------------------------------------------------------------------	
//0.0 Generales//
//1.0 Footer//
//1.1 FooterBottom
//--------------------
// 0.0 Generales //
//--------------------	
body {
    background: url(../img/dummy-background.jpg) no-repeat center top;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black,  .75);
}

.categories-nav {
    width: 100%;
    max-width: rem-calc(324);
    background-color: $white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
}

.categories-nav__header {
    background: get-color(primary) no-repeat center / cover;
    height: 64px;
    color: $white;
    padding: rem-calc(12 20);
    display: flex;
    align-items: center;
    div {
        
        &.shrink {
            
        }
    }
}
.categories-nav__shop-logo {
    max-width: rem-calc(24);
    flex: 1 1 0px;
    margin-right: rem-calc(12);

}
.categories-nav__shop-name {
    flex: 0 0 auto;
    margin: 0;
    line-height: 1.2em;
    font: 400 rem-calc(16) $body-font-family-semibold;
    strong {
        // font-family: ;
        font-size: rem-calc(18);
        display: block;
    }
}
.categories-nav__shop-toggle-change {
    flex: 1 1 0px;
    text-decoration: none;
    color: $white;
    text-align: right;
    margin-left: rem-calc(12);
    font-size: rem-calc(12);
    text-transform: uppercase;
}
.categories-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: rem-calc(18);
}
.categories-nav__list--absolute {
    position: absolute;
    overflow: auto;
    width: 100%;
    top: rem-calc(64);
    bottom: 0;
}
.categories-nav__list--subcategory {
    display: none;
}
.categories-nav__item {
    cursor: pointer;
    position: relative;
    a,
    span {
        position: relative;
        display: block;
        padding: rem-calc(18 45 17 16);
        color: $body-font-color;
        text-decoration: none;
        line-height: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:after {
           content: "";
           position: absolute;
           bottom: 0;
           right: 0;
           left: rem-calc(48);
           border-bottom: solid 1px $medium-gray;
        }
        &:hover {
            background-color: $light-gray;
        }  
        &:active {
            background-color: rgba(get-color(primary),  .1);
        }
    }
    &.is-active {
        background-color: $light-gray;
        .categories-nav__list--subcategory {
            display: block;
        }
        .categories-nav-icon-arrow {
            transform: rotate(0deg);
            display: block;
        } 
    }
    &.is-current {
       .categories-nav-icon-check {
            display: block;
        }  
    }
}
.categories-nav__item--top {
    &:hover {
        background-color: $light-gray;
        .categories-nav-icon-arrow {
            display: block;
        } 
    }
}
.categories-nav__item--subcategory {
    a {
        padding-left: rem-calc(60);
    }
}
.categories-nav-icon {
    max-width: rem-calc(22);
    margin-right: rem-calc(12);
}
.categories-nav-icon-arrow {
    position: absolute;
    right: rem-calc(16);
    top: rem-calc(16);
    transform: rotate(180deg);
    transition: all .2s ease-out;
    display: none;
}
.categories-nav-icon-check {
    position: absolute;
    right: rem-calc(16);
    top: rem-calc(16);
    display: none;
}