<nav class="categories-nav">
  <!-- Categories Nav Header -->
  <header class="categories-nav__header" style="background-color:rgb({{postalcode.markets.[0].color}}); background-image: url({{#each postalcode.markets.[0].companies}}{{picture}}{{/each}});">
    <img class="categories-nav__shop-logo" src="{{postalcode.markets.[0].picture}}" alt="{{categories.categories.[0].name}}">
    <p class="categories-nav__shop-name">
      <strong>{{postalcode.markets.[0].name}}</strong>
      Comprando en {{postalCode}}</p>
    <a class="categories-nav__shop-toggle-change" href="#" title="Cambiar">Cambiar</a>
  </header>
  <!-- Categories Nav List -->
  <ul class="categories-nav__list categories-nav__list--absolute" data-accordion-menu>
    <!-- Parent Category Nav Item -->
    <li id="itemId-top}" class="categories-nav__item categories-nav__item--top is-current">
      <a title="Populares">
        {{> icons svg="star" class="categories-nav-icon"}}Populares
      </a>
      {{> icons svg="check" class="categories-nav-icon-check"}}
    </li>
    <!-- Parent Category Nav Item -->
    {{#each categories.categories}}
    <li id="itemId-{{id}}" class="categories-nav__item categories-nav__item--top">
      <span title="{{name}}">
        <img class="categories-nav-icon" src="{{icon}}" alt="Icono {{name}}">{{name}}
      </span>
      {{> icons svg="arrow" class="categories-nav-icon-arrow"}}
      <ul class="categories-nav__list categories-nav__list--subcategory">
        <!-- Children Category Nav Item -->
        <li class="categories-nav__item categories-nav__item--subcategory is-current">
          <a href="/tienda/mercadona/{{shortcut}}" title="Ver toda la seleccion">Ver toda la seleccion</a>
          {{> icons svg="check" class="categories-nav-icon-check"}}
        </li>
        {{#each categories}}
        <!-- Children Category Nav Item -->
        <li class="categories-nav__item categories-nav__item--subcategory">
          <a href="/tienda/mercadona/{{../shortcut}}/{{shortcut}}" title="{{name}}">{{name}}</a>
          {{> icons svg="check" class="categories-nav-icon-check"}}
        </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
    <ul>
</nav>
<div class="overlay"></div>