
{{#ifequal svg 'check'}}
    <svg class="{{class}}" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M22.226 4.65a.477.477 0 0 0-.694 0L8.495 17.753 3.19 12.473a.477.477 0 0 0-.694 0 .483.483 0 0 0 0 .697l5.652 5.68c.099.1.247.15.347.15.099 0 .247-.05.347-.15.05-.05.099-.149.099-.199.05 0 .099-.05.099-.05L22.226 5.347a.483.483 0 0 0 0-.698z"
        fill="#4FD053" fill-rule="evenodd" />
    </svg>
{{/ifequal}}
{{#ifequal svg 'arrow'}}
    <svg class="{{class}}" width="25" height="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 8.65l-8.938 8.938a.627.627 0 0 1-.886-.886l9.289-9.29A.626.626 0 0 1 13 7.236c.19-.028.39.03.535.176l9.29 9.29a.627.627 0 1 1-.887.886L13 8.649z"
        fill="#9A9A9A" fill-rule="evenodd" />
    </svg>
{{/ifequal}}
{{#ifequal svg 'star'}}
    <svg class="{{class}}" width="22" height="22" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#4FD053" stroke-width="2" d="M23 36l-12.931 6.798 2.47-14.399L2.076 18.202 16.534 16.1 23 3l6.466 13.1 14.457 2.102-10.461 10.197 2.47 14.4z"
            fill="none" fill-rule="evenodd" />
    </svg>
{{/ifequal}}